<!DOCtype html>
<html ng-app='appform'>
    <head>
    <title>***   WELCOME  ***</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        </head>
    <body>
        <div ng-controller="app_ctrl">
            
           <div form></div>
            
        </div>
            
            
           
    
            <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
           <script type="text/javascript" src="/node_modules/angular-route/angular-route.js"></script>
            <script type="text/javascript" src="/js/appform.js"></script>
        <script type="text/javascript" src=/js/service/person_serv.js></script>
          <script type="text/javascript" src=/js/controller/app_ctrl.js></script>
          <script type="text/javascript" src=/js/directives/forms.js></script>
            
    </body>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    